# Database configuration
DATABASE_URL=postgresql://postgres:@localhost/fileshare

# Security keys (change these in production!)
SECRET_KEY=mysecretkey123
ENCRYPTION_KEY=WE88Hs7rX_PPNGPPaZrqx3lJIpGhV00GYxGqb4thUYE=

# Email configuration (for Gmail)
MAIL_USERNAME=tanishk.varshney001@gmail.com
MAIL_PASSWORD=Tanishq@tanishk01
MAIL_FROM=tanishk.varshney001@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

# Application URL
BASE_URL=http://localhost:8000 